* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(32, 100%, 90%);
    --bg-color-dark: hsl(32, 100%, 85%);
    --text-color: #264653;
    --bg-selected-color: hsl(32, 100%, 70%);
    --border-width: 0.15rem;
}

body {
    background-color: var(--bg-color-dark);
    color: var(--text-color);
    min-height: 100vh;
    text-align: center;
    font-family: sans-serif;
}

#header-text {
    font-size: 3rem;
    padding-block: 0.9rem;
    background-color: var(--bg-color);
    background-image: linear-gradient(to bottom, var(--bg-color) 0%, var(--bg-color-dark) 100%);
    border-bottom: var(--border-width) solid var(--text-color);
}

#header-date {
    font-size: 2rem;
    padding-block: 0.1rem;
    background-color: var(--bg-color-dark);
    border-bottom: var(--border-width) solid var(--text-color);
}

#header-date:empty {
    display: none;
}

noscript {
    font-size: 2rem;
    padding-block: 0.1rem;
    color: hsl(0, 100%, 40%);
    border-bottom: var(--border-width) solid var(--text-color);
}

#game-controls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-block: 2rem;
}

.game-control-info {
    background-color: var(--bg-color-dark);
    border: var(--border-width) solid var(--bg-color);
    border-radius: 0.5rem;
}

button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: var(--border-width) solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--bg-color-dark);
}

button:active {
    background-color: var(--bg-selected-color);
}

button:disabled {
    background-color: var(--bg-color);
    color: hsl(0, 0%, 50%);
    cursor: not-allowed;
}

#game-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-block: 2rem;
}

#game-board {
    display: grid;
    --grid-count: 4;
    grid-template-columns: repeat(var(--grid-count), 10rem);
    width: calc(var(--grid-count) * 11rem - 1rem);
    gap: 1rem;
    margin: auto;
    font-size: 1.5rem;
}

#game-board>div {
    background-color: var(--bg-color-dark);
    height: 10rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-width) solid var(--bg-color);
}

#game-board>.term:hover {
    background-color: var(--bg-color);
}

#game-board>.term:active {
    background-color: var(--bg-selected-color);
}

.selected {
    background-color: var(--bg-selected-color) !important;
    border-color: var(--text-color) !important;
}

#game-board>.category {
    grid-column: 1 / -1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--grid-count), 1fr);
    order: -1;
}

.category>h3 {
    grid-column: 1 / -1;
    width: 100%;
}

.category::before {
    content: attr(data-indicator);
    position: absolute;
    top: 0.7rem;
    left: 1rem;
}

#game_report {
    margin: auto;
    padding: 1rem;
    color: var(--text-color);
    border: var(--border-width) solid var(--text-color);
    background-color: var(--bg-color-dark);
}

#game-report-attempts {
    border-top: var(--border-width) solid var(--text-color);
    border-bottom: var(--border-width) solid var(--text-color);
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

article {
    width: 44rem;
    margin: auto;
}

article>p {
    margin: 1rem;
    text-align: left;
    text-indent: 3rem;
}

footer {
    position: sticky;
    bottom: 0;
    font-size: 0.8rem;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.3);
}

footer>a {
    color: var(--text-color);
}
